<div class="flex min-h-full bg-gray-100">
	<div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
		<div class="mx-auto bg-white p-5 rounded-md shadow-2xl w-full max-w-sm lg:w-96">
			<div class="text-center">
				<div class="inline-block">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
						alt="Your Company"
					/>
				</div>
				<p class="mt-2 text-sm text-gray-500">You are currently logged in with</p>
			</div>

			<div class="mt-6">
				<div class="text-center">
					<div class="inline-block">
						<img
							class="h-12 w-auto rounded-full"
							src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
						/>
					</div>
					<h4 class="text-lg font-bold">Jane Doe</h4>
					<p class="mt-4 text-xs text-gray-500">Not you? <a class="text-indigo-500" href="#">Sign out</a></p>
				</div>
			</div>
		</div>
		<div class="mt-10">
			<p class="text-center text-xs text-neutral-300">Powered by Baseless</p>
		</div>
	</div>
</div>

<div class="flex min-h-full bg-gray-100">
	<div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
		<div class="mx-auto bg-white p-5 rounded-md shadow-2xl w-full max-w-sm lg:w-96">
			<div class="text-center">
				<div class="inline-block">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/mark.svg?color=indigo&
			  shade=600"
						alt="Your Company"
					/>
				</div>
				<h2 class="mt-6 text-2xl font-bold tracking-tight text-gray-900">Enter code</h2>
				<p class="mt-2 text-sm text-gray-500">Enter the code that you received by email</p>
			</div>

			<div class="mt-6">
				<form action="#" method="POST">
					<div class="mt-2 flex rounded-md shadow-sm">
						<div class="relative flex flex-grow items-stretch focus-within:z-10">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								<svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path
										d="M4,17V9H2V7H6V17H4M22,15C22,16.11 21.1,17 20,17H16V15H20V13H18V11H20V9H16V7H20A2,2 0 0,1 22,9V10.5A1.5,1.5 0 0,1 20.5,12A1.5,1.5 0 0,1 22,13.5V15M14,15V17H8V13C8,11.89 8.9,11 10,11H12V9H8V7H12A2,2 0 0,1 14,9V11C14,12.11 13.1,13 12,13H10V15H14Z"
									/>
								</svg>
							</div>
							<input
								type="text"
								name="code"
								id="code"
								class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 tracking-[1em] text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
								placeholder="123456"
								maxlength="6"
							/>
						</div>
						<button
							type="submit"
							class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
						>
							Sign In
						</button>
					</div>
					<p class="mt-4 text-xs text-gray-500">
						Didn't receive a code? <a class="text-indigo-500" href="#">Resend code</a>
					</p>

					<a class="mt-6 block text-xs text-gray-500" href="#">
						<svg
							class="inline-block h-5"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							aria-hidden="true"
						>
							<path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
						</svg>
						Choose an other method
					</a>
				</form>
			</div>
		</div>
		<div class="mt-10">
			<p class="text-center text-xs text-neutral-300">Powered by Baseless</p>
		</div>
	</div>
</div>

<div class="flex min-h-full bg-gray-100">
	<div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
		<div class="mx-auto bg-white p-5 rounded-md shadow-2xl w-full max-w-sm lg:w-96">
			<div class="text-center">
				<div class="inline-block">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/mark.svg?color=indigo&
			  shade=600"
						alt="Your Company"
					/>
				</div>
				<h2 class="mt-6 text-2xl font-bold tracking-tight text-gray-900">Enter your password</h2>
				<p class="mt-2 text-sm text-gray-500">john.doe@baseless.local</p>
			</div>

			<div class="mt-6">
				<form action="#" method="POST">
					<div class="mt-2 flex rounded-md shadow-sm">
						<div class="relative flex flex-grow items-stretch focus-within:z-10">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								<svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path
										d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20M8.5,12A1.5,1.5 0 0,0 7,10.5A1.5,1.5 0 0,0 5.5,12A1.5,1.5 0 0,0 7,13.5A1.5,1.5 0 0,0 8.5,12M13,10.89C12.39,10.33 11.44,10.38 10.88,11C10.32,11.6 10.37,12.55 11,13.11C11.55,13.63 12.43,13.63 13,13.11V10.89Z"
									/>
								</svg>
							</div>
							<input
								type="password"
								name="password"
								id="password"
								class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
								placeholder="Password"
							/>
						</div>
						<button
							type="submit"
							class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
						>
							Sign In
						</button>
					</div>

					<a class="mt-6 block text-xs text-gray-500" href="#">
						<svg
							class="inline-block h-5"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							aria-hidden="true"
						>
							<path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
						</svg>
						Choose an other method
					</a>
				</form>
			</div>
		</div>
		<div class="mt-10">
			<p class="text-center text-xs text-neutral-300">Powered by Baseless</p>
		</div>
	</div>
</div>

<div class="flex min-h-full bg-gray-100">
	<div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
		<div class="mx-auto bg-white p-5 rounded-md shadow-2xl w-full max-w-sm lg:w-96">
			<div class="text-center">
				<div class="inline-block">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/mark.svg?color=indigo&
			  shade=600"
						alt="Your Company"
					/>
				</div>
				<h2 class="mt-6 text-2xl font-bold tracking-tight text-gray-900">Enter your email</h2>
			</div>

			<div class="mt-6">
				<form action="#" method="POST">
					<div class="mt-2 flex rounded-md shadow-sm">
						<div class="relative flex flex-grow items-stretch focus-within:z-10">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
								<svg class="h-5 w-5 text-gray-400" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
									<path
										d="M12,15C12.81,15 13.5,14.7 14.11,14.11C14.7,13.5 15,12.81 15,12C15,11.19 14.7,10.5 14.11,9.89C13.5,9.3 12.81,9 12,9C11.19,9 10.5,9.3 9.89,9.89C9.3,10.5 9,11.19 9,12C9,12.81 9.3,13.5 9.89,14.11C10.5,14.7 11.19,15 12,15M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12V13.45C22,14.45 21.65,15.3 21,16C20.3,16.67 19.5,17 18.5,17C17.3,17 16.31,16.5 15.56,15.5C14.56,16.5 13.38,17 12,17C10.63,17 9.45,16.5 8.46,15.54C7.5,14.55 7,13.38 7,12C7,10.63 7.5,9.45 8.46,8.46C9.45,7.5 10.63,7 12,7C13.38,7 14.55,7.5 15.54,8.46C16.5,9.45 17,10.63 17,12V13.45C17,13.86 17.16,14.22 17.46,14.53C17.76,14.84 18.11,15 18.5,15C18.92,15 19.27,14.84 19.57,14.53C19.87,14.22 20,13.86 20,13.45V12C20,9.81 19.23,7.93 17.65,6.35C16.07,4.77 14.19,4 12,4C9.81,4 7.93,4.77 6.35,6.35C4.77,7.93 4,9.81 4,12C4,14.19 4.77,16.07 6.35,17.65C7.93,19.23 9.81,20 12,20H17V22H12C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z"
									/>
								</svg>
							</div>
							<input
								type="email"
								name="email"
								id="email"
								class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
								placeholder="you@example.com"
							/>
						</div>
						<button
							type="submit"
							class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
						>
							Continue
						</button>
					</div>

					<a class="mt-6 block text-xs text-gray-500" href="#">
						<svg
							class="inline-block h-5"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							aria-hidden="true"
						>
							<path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
						</svg>
						Choose an other method
					</a>
				</form>
			</div>
		</div>
		<div class="mt-10">
			<p class="text-center text-xs text-neutral-300">Powered by Baseless</p>
		</div>
	</div>
</div>

<div class="flex min-h-full bg-gray-100">
	<div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6">
		<div class="mx-auto bg-white p-5 rounded-md shadow-2xl w-full max-w-sm lg:w-96">
			<div class="text-center">
				<div class="inline-block">
					<img
						class="h-12 w-auto"
						src="https://tailwindui.com/img/logos/mark.svg?color=indigo&
			  shade=600"
						alt="Your Company"
					/>
				</div>
				<h2 class="mt-6 text-2xl font-bold tracking-tight text-gray-900">Sign In</h2>
				<p class="mt-2 text-sm text-gray-500">How would you like to continue?</p>
			</div>

			<div class="mt-6">
				<form action="#" method="POST" class="space-y-6">
					<nav class="space-y-1" aria-label="Sidebar">
						<button
							class="group flex min-w-full items-center rounded-md bg-gray-50 px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-100 hover:text-gray-900"
							aria-current="page"
						>
							<!-- Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500" -->
							<svg
								class="-ml-1 mr-3 h-6 w-6 flex-shrink-0 text-gray-500"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M12,15C12.81,15 13.5,14.7 14.11,14.11C14.7,13.5 15,12.81 15,12C15,11.19 14.7,10.5 14.11,9.89C13.5,9.3 12.81,9 12,9C11.19,9 10.5,9.3 9.89,9.89C9.3,10.5 9,11.19 9,12C9,12.81 9.3,13.5 9.89,14.11C10.5,14.7 11.19,15 12,15M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12V13.45C22,14.45 21.65,15.3 21,16C20.3,16.67 19.5,17 18.5,17C17.3,17 16.31,16.5 15.56,15.5C14.56,16.5 13.38,17 12,17C10.63,17 9.45,16.5 8.46,15.54C7.5,14.55 7,13.38 7,12C7,10.63 7.5,9.45 8.46,8.46C9.45,7.5 10.63,7 12,7C13.38,7 14.55,7.5 15.54,8.46C16.5,9.45 17,10.63 17,12V13.45C17,13.86 17.16,14.22 17.46,14.53C17.76,14.84 18.11,15 18.5,15C18.92,15 19.27,14.84 19.57,14.53C19.87,14.22 20,13.86 20,13.45V12C20,9.81 19.23,7.93 17.65,6.35C16.07,4.77 14.19,4 12,4C9.81,4 7.93,4.77 6.35,6.35C4.77,7.93 4,9.81 4,12C4,14.19 4.77,16.07 6.35,17.65C7.93,19.23 9.81,20 12,20H17V22H12C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z"
								/>
							</svg>
							<span class="truncate">Connect with Email</span>
						</button>

						<button
							class="group flex min-w-full items-center rounded-md bg-gray-50 px-3 py-2 text-sm font-medium text-gray-600 hover:bg-gray-100 hover:text-gray-900"
						>
							<svg
								class="-ml-1 mr-3 h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
								viewBox="0 0 24 24"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
								/>
							</svg>
							<span class="truncate">Connect with Github</span>
						</button>
					</nav>

					<a class="mt-6 block text-xs text-gray-500" href="#">
						<svg
							class="inline-block h-5"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							aria-hidden="true"
						>
							<path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
						</svg>
						Choose an other method
					</a>
				</form>
			</div>
		</div>
		<div class="mt-10">
			<p class="text-center text-xs text-neutral-300">Powered by Baseless</p>
		</div>
	</div>
</div>
